<!DOCTYPE html>
<html>
<head>
  <title>Angular Dashboard App</title>
  <meta charset="utf-8">
</head>

  <script src="dist/bundle.js"></script>

  <body>
    <div ng-app="dashboardApp" ng-controller="DashboardCtrl">
      <div class="container">
        <div class="page-header">
        	<a class="pull-right btn btn-primary" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> Add Widget</a>
        	<a class="pull-right btn btn-warning" ng-click="clear()"><i class="glyphicon glyphicon-trash"></i> Clear</a>
        	<h1 style="display: inline-block; width: 200px;">Dashboard</h1>
        </div> <!-- END page-header -->

        <div id="dashboards-menu">
          <ul>
            <li ng-repeat="(key, value) in dashboards">
              <a ui-sref="{{value.view}}" ui-sref-active="active" ng-click="setCurrentDashboard(value.view)">{{value.name}}</a></br>
            </li>
          </ul>
        </div>

        <div ui-view></div> <!-- END ui-view -->

      </div> <!-- END container -->
    </div> <!-- END ng-app, DashboardCtrl -->

  </body>
</html>

